<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Play the game!</h1>

<form action="/madlib">
    <label for="person">Person:</label>
    <input type="text" name="person">
    <label for="color">Color:</label>
    <!-- <select name="color" value="color">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
    </select> -->
    <input type="checkbox" name="color" value="red">
    <input type="checkbox" name="color" value="orange">
    <input type="checkbox" name="color" value="yellow">
    <input type="checkbox" name="color" value="green">
    <input type="checkbox" name="color" value="blue">
    <input type="checkbox" name="color" value="purple">

    <label for="noun">Noun:</label>
    <input type="text" name="noun">
    <label for="adjective">Adjective:</label>
    <input type="text" name="adjective">
    <input type="submit">
</form>

</body>
</html>